h1 {
    text-align: center;
    color: #ffffff;
}
ul, li {
    list-style: none;
    text-align: center;
}
body, html {
    background-color: #1d1d1d;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    text-align: center;
    color: #ffffff;
    list-style-type: none;
}
a {
    text-decoration: none;
}