@charset "UTF-8";

* {
    font-family:  Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #1C3580, #339FBD);
    background-attachment: fixed;
}

main {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow:  5px 5px 15px rgba(31, 97, 116, 0.678);
    padding: 10px;
    margin: auto;
}

h1 {
    color: #2FD4CB;
    text-align: center;
    text-shadow: 1px 1px 0px #239b959f ;
}

h2 {
    color: #3089DB;
}

p {
    text-align: justify;
}

